<!DOCTYPE html>
<html>
<head>
  <title>COS243</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="main container" >
      <nav class="navbar navbar-default">
        <ul class ="nav navbar">
          <li><%= link_to 'Worship Together', root_path %></li>
          <li><%= link_to 'Users', users_path %></li>
          
          <% if logged_in? %>
            <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Log In', login_path %></li>
            <li><%= link_to 'Sign Up', new_user_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>
<% flash.each do |type, message| %>
	<p class="alert alert-<%= type %>"><%= message %></p>
<% end %>

<%= yield %>

</body>
</html>
